<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <title>Main Page</title>
</head>

<body class="body">
    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <form action="/auth/logout" method="POST">
                <button class="nabvar__button" type="submit"> LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="main">
        <h4>Bienvenido de nuevo, {{user.email}}!</h4>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <a class="nabvar__button" href="/auth/login">Acceder</a>

            <a class="nabvar__button" href="/auth/register">Registrarme</a>
        </div>
    </div>
    {{/if}}
    {{#if message}}
    <div class="main">
        <p>{{message}}</p>
    </div>
    {{/if}}
    <div class="container">
        <div>
            <h2 class="container__title">¿Estas buscando empleo?</h2>
            <form action="jobs/search" method="GET">
                <input class="container__input" placeholder="ej: Full Stack Developer" type="text" name="title"
                    id="title">
                <button class="container__button" type="submit">BUSCAR OFERTAS</button>
            </form>
        </div>
    </div>

</body>

</html>