<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/jobOffer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <title>Ofertas de Empleo</title>
</head>

<body class="body">
    {{!-- Navbar --}}
    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <form action="/auth/logout" method="POST">
                <button class="nabvar__button" type="submit"> LOGOUT</button>
            </form>
        </div>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <a class="nabvar__button" href="/auth/login">Acceder</a>

            <a class="nabvar__button" href="/auth/register">Registrarme</a>
        </div>
    </div>
    {{/if}}
    <div class="container">
        <h1 class="container__title">OFERTAS DE EMPLEO</h1>
        <div class="container__offers">
            <ul class="container__ul">
                {{#each jobOffer}}
                <li class="container__list">
                    <h3 class="container__main">{{title}}</h3>
                    <p><strong>Descripción: </strong>{{description}}</p>
                    <p><strong>Compañia: </strong> {{company}}</p>
                    <p><strong>Email de contacto: </strong> {{contactEmail}}</p>
                    {{#if image}}
                    <img class="form-img" src="{{image}}">
                    {{/if}}
                </li>
                <div class="line"></div>

                {{/each}}
            </ul>
        </div>
    </div>

</body>

</html>