<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Permanent+Marker&family=Train+One&display=swap"
        rel="stylesheet">

    <title>Acceso</title>
</head>

<body class="body">
    {{!-- Navbar --}}
    {{#if user}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
            <form action="/auth/logout" method="POST">
                <button class="nabvar__button" type="submit"> LOGOUT</button>
            </form>
        </div>
    </div>
    {{else}}
    <div class="navbar">
        <div class="navbar__container">
            <h1 class="navbar__logo">SpareJobs</h1>
            <a class="navbar__links" href="/">Inicio</a>
            <a class="navbar__links" href="/jobs/offers">Ofertas</a>
            <a class="navbar__links" href="/jobs/create">Crea una oferta</a>
        </div>
        <div class="navbar__form">
        <a class="nabvar__button" href="/auth/register">Registrarme</a>
        </div>
    </div>
    {{/if}}
    {{!-- Main --}}
    <div class="container">
        <div class="container__form">
            <h2 class="container__form-title">Inicia Sesión</h2>
            <form class="container__form-features" action="/auth/login" method="POST">
                <label class="container__form-label" for="email">Email</label>
                <input class="container__form-input" type="text" id="email" name="email">

                <label class="container__form-label" for="password">Contraseña</label>
                <input class="container__form-input" type="password" id="password" name="password">

                <button class="container__form-button" type="submit">Entrar</button>
            </form>
            {{#if error}}
            <div class="container__form-error">
                {{error}}
            </div>
            {{/if}}
        </div>
    </div>

</body>

</html>