.body {
    background-image: url("http://www.neo-si.com/wp-content/uploads/fondo-contadores-empleo.jpg");
  }
  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .navbar__container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__form {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  .navbar__logo {
    font-family: "Permanent Marker", cursive;
    color: #5b8a30;
    padding-left: 50px;
  }
  .navbar__links {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
  }
  .nabvar__button {
    background: transparent;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-right: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  .container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__form {
    width: 40%;
    height: 500px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container__title {
    color: lightgrey;
  }

  .container__form-features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
  }
  .container__form-label {
    font-weight: bold;
    color: rgb(56, 54, 54);
}
.container__form-input {
  width: 400px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;
}
.container__form-button {
    background-color: #5b8a30;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
.container__user {
  width: 40%;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__form-error {
  margin-top: 8px;
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.sss{
  height: 30px;
}