.body {
    background-image: url("http://www.neo-si.com/wp-content/uploads/fondo-contadores-empleo.jpg");
  }
  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .navbar__container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__form {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar__logo {
    font-family: "Permanent Marker", cursive;
    color: #5b8a30;
    padding-left: 50px;
  }
  .navbar__links {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
  }
  .nabvar__button {
    background: transparent;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-right: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
.main {
  width: 100%;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .container {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__input {
    width: 700px;
    height: 40px;
  }
  .container__button {
    background-color: #5b8a30;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
  }
  .container__title {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-weight: lighter;
  }