
.body {
    background-image: url("http://www.neo-si.com/wp-content/uploads/fondo-contadores-empleo.jpg");
  }
  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }
  .navbar__container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__form {
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar__logo {
    font-family: "Permanent Marker", cursive;
    color: #5b8a30;
    padding-left: 50px;
  }
  .navbar__links {
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
  }
  .nabvar__button {
    background: transparent;
    background: transparent;
    color: white;
    border: 1px solid white;
    margin-right: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  .container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container__title {
    color: lightgrey;
  }
  .container__offers {
    width: 60%;
    height: auto;
    background-color: white;
    border-radius: 10px;
  }
  .container__ul {
   margin-left: -25px;
   margin-right: 25px;
  }
.container__list {
  list-style: none;
  border-bottom: 1px solid lightgray;
  font-family: "Noto Sans", sans-serif;
  margin: 0 15px;
  padding: 10px;
}
.container__list:hover {
  border: 1px solid #5b8a30;
  border-radius: 10px;
}
.container__main {
  text-decoration-line: underline;
}
/* 
.line {
  border-top: 1px solid lightgray;
  height: 2px;
  padding: 0;
  margin: 20px auto 0 auto;
} */
.form-img {
  width: 50px;
  height: auto;
}