body {
  margin: 0 auto;
}

.body {
  background-image: url('http://www.neo-si.com/wp-content/uploads/fondo-contadores-empleo.jpg');
}


.index-link {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
    margin-bottom: 20px;
}
.error {
    margin-top: 30px;
    color: red;
    font-weight: bold;
    font-size: 16px;
}